In [2]:
## import relevant packages
import pandas as pd
from sklearn import linear_model

In [3]:
shows = pd.read_csv('shows.csv', encoding='utf-8')

In [5]:
features = shows[['rating', 'rating_count','length','start_year', 'episodes', 'top_ep', 'sec_ep',
                  'thd_ep', 'popularity','x0_TV-14', 'x0_TV-MA', 'x0_TV-PG','Action', 'Adventure', 'Animation', 'Biography', 
                  'Comedy', 'Crime', 'Drama', 'Family', 'Fantasy', 'History','Horror', 'Mystery', 'Romance',
                  'Short', 'Sport', 'Music', 'Sci-Fi', 'Thriller', 'quick', 'short', 'medium',
                  'long', 'series']]
target = shows['score']

regr = linear_model.LinearRegression()
regr.fit(features, target)
print(regr.score(features,target))

1.0

In [6]:
predictions = pd.DataFrame()
predict_values = []
for i in features.iterrows():
    predict_values.append(round(regr.predict([i[1][0:38]])[0],2))
predictions['predict_values'] = predict_values

In [7]:
shows = shows.join(predictions)

In [8]:
pd.set_option('display.max_rows', None)
shows['diff'] = shows.score - shows.predict_values
shows[['title','score','predict_values','diff']].sort_values(by='predict_values', ascending=False)

                           title  score  predict_values  diff
19            The Queen's Gambit     92            92.0   0.0
3                     The Office     90            90.0   0.0
18                    Marco Polo     90            90.0   0.0
0                Game of Thrones     89            89.0   0.0
12                      Sherlock     89            89.0   0.0
5                   Breaking Bad     88            88.0   0.0
7                        The 100     87            87.0   0.0
22                        Sense8     86            86.0   0.0
6                      Shameless     84            84.0   0.0
16              The Last Kingdom     84            84.0   0.0
17                         Ozark     84            84.0   0.0
20                   The Witcher     84            84.0   0.0
4                  Lost in Space     83            83.0   0.0
9                   Black Mirror     82            82.0   0.0
10     The Haunting of Bly Manor     82            82.0   0.0
2                          Reign     81            81.0   0.0
14               Stranger Things     80            80.0   0.0
13                     Riverdale     79            79.0   0.0
15           Designated Survivor     79            79.0   0.0
11  The End of the F***ing World     79            79.0   0.0
1                 Altered Carbon     74            74.0   0.0
21                 The Magicians     74            74.0   0.0
8                             3%     64            64.0   0.0

In [19]:
wish = pd.read_csv('test.csv', encoding='utf-8')
features = wish[['rating', 'rating_count','length','start_year', 'episodes', 'top_ep', 'sec_ep',
                  'thd_ep', 'popularity','x0_TV-14', 'x0_TV-MA','x0_TV-PG','Action', 'Adventure', 'Animation', 'Biography', 
                  'Comedy', 'Crime', 'Drama', 'Family', 'Fantasy', 'History','Horror', 'Mystery', 'Romance',
                  'Short', 'Sport', 'Music', 'Sci-Fi', 'Thriller', 'quick', 'short', 'medium',
                  'long', 'series']]

In [20]:
predictions_1 = pd.DataFrame()
predict_values_1 = []
for i in features.iterrows():
    predict_values_1.append(round(regr.predict([i[1][0:37]])[0],2))
predictions_1['predict_values'] = predict_values_1

In [21]:
wish = wish.join(predictions_1)

In [22]:
pd.set_option('display.max_rows', None)
wish[['title','predict_values']].sort_values(by='predict_values', ascending=False)

                  title  predict_values
1                Merlin           76.16
0  The Umbrella Academy           70.18